<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>List of Flights</title>
  </head>

  <nav>
    <div>
      <a class="top nav" href="/flights">LIST OF FLIGHTS</a>
      <div><a href="/flights/new">NEW FLIGHT</a></div>
    </div>
  </nav>
  <br />
  <header>List of Flights:</header>
  <br />
  <table>
    <tr>
      <th>Airline</th>
      <th>Flight Number</th>
      <th>Departs</th>
      <th>Flight Details</th>
    </tr>
    <% flights.forEach(f => { %>
    <li>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
        <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
      </tr>
    </li>

    <% }); %>
  </table>
</html>
